.menu
  = link_to 'Submit', url_for(:entry, :submit)

.entries
  - @entries.each_with_index do |entry, i|
    %div{:id => "entry_#{i}", :class => 'entry'}
      .topic= entry.topic
      .first
        %span{:class => 'thing'} 1.
        = entry.first
      .second
        %span{:class => 'thing'} 2.
        = entry.second
      .meta
        = meta_for(entry)
