.entry
  - form_for :entry, url_for(:entry, :submit), :id => 'register' do |f|
    = f.text_field_block :topic
    = f.text_field_block :first
    = f.text_field_block :second
    = f.text_field_block :source
    = f.text_field_block :link
    = f.submit_block 'Save', :class => 'button'